# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml
.venv/
.pdm-python

route.png
route.svg

.env
/.vs/running_page/FileContentIndex/13b89804-e35a-4d3b-9b44-5b36291c8bee.vsidx
/.vs/running_page/FileContentIndex/282abcb8-90a2-4918-b152-5ba917ec7ac9.vsidx
/.vs/running_page/FileContentIndex/5e6ceec4-0d8c-42f4-8f2e-762db989b34a.vsidx
/.vs/running_page/FileContentIndex/93df173e-6dc5-4e26-a553-ec479b8b7ba0.vsidx
/.vs/running_page/FileContentIndex/c398f90c-c754-4478-8d1e-6e40eb9c9036.vsidx
/.vs/running_page/FileContentIndex/791d0bb4-9f75-47db-b926-6234cf18e7bf.vsidx
