# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml
.venv/
.pdm-python

route.png
route.svg
/.vs/running_page/FileContentIndex/5e99f45f-2583-4e6e-ba8e-06a1ecd73796.vsidx
/.vs/running_page/FileContentIndex/4fc5d01f-7b17-476d-8149-00a447789414.vsidx
/.vs/running_page/FileContentIndex/68ad2847-c1f1-4982-9ecd-ee27549d53df.vsidx
/.vs/running_page/FileContentIndex/7454dbe7-b4a1-4de0-b86e-1d4eab8b5a97.vsidx
