# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml
.venv/
.pdm-python

route.png
route.svg
/.vs/running_page/FileContentIndex/5e99f45f-2583-4e6e-ba8e-06a1ecd73796.vsidx
